@model IEnumerable<LabTest>
@using eLab.Data

@{
    ViewData["Title"] = "Lab Test List";
}

<div class="card">
    <div class="card-header bg-secondary">
        <h2>
            Lab Tests

            <a class="btn btn-primary" style="float:right;" asp-action="Create">
                <i class="fa fa-plus" aria-hidden="true"></i> Add New
            </a>
        </h2>
    </div>
    <div class="card-body">

        <table id="lab-test-table" class="table table-hover table-striped table-bordered table-responsive">
            <thead class="bg-secondary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Preparation</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th>Updated By</th>
                    <th>Updated At</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var labTest in Model)
                {
                    <tr>
                        <td>@labTest.Id</td>
                        <td>@labTest.Name</td>
                        <td>@labTest.Price</td>
                        <td>@labTest.Category</td>
                        <td>@labTest.Description</td>
                        <td>@labTest.Preparation</td>
                        <td>@labTest.CreatedByUser.UserName</td>
                        <td>@labTest.CreatedAt.ToString("dd/MMM/yyyy hh:mm tt")</td>
                        <td>@labTest.UpdatedByUser?.UserName</td>
                        <td>@labTest.UpdatedAt</td>
                        <td>
                            <span class="@(labTest.IsActive ? "text-success" : "text-danger")">
                                @(labTest.IsActive ? "Yes" : "No")
                            </span>
                        </td>
                        <td>
                            <a class="text-secondary mr-2" asp-action="Details" asp-route-id="@labTest.Id">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="text-primary mr-2" asp-action="Edit" asp-route-id="@labTest.Id">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="text-danger" asp-action="Delete" asp-route-id="@labTest.Id">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $("#lab-test-table").DataTable();
        });
    </script>
}
